<blockquote>
  <p>Well, well. I guess it's come to this.</p>

  <p>I see you found me in this maze of an office. Let's start this battle
  then, so we can find out if you are worthy of being level 4!</p>
</blockquote>

<p>This is the most difficult of the battles. You have to keep up with this
boss &mdash; he's nimble, and keeps changing his form. Just when you think he's
done, he pulls out another summon, stranger than the last. There are some weird
moments where you accidentally heal him or can't use any electricitiy. After
you learn his patterns, though, it's not so bad. This is a test, after all, and
he's not actually trying to destroy you personally, right? In any case it's a
good thing there are these summoned creatures to duke it out and keep you out
of the fray.</p>

<p>Eventually you wear his summon down, expecting to see another one, but none
comes. It seems you've prevailed!</p>
