<blockquote>
  <p>Well, well. I guess it's come to this.</p>
</blockquote>

<p>This is the most difficult of the battles. You have to keep up with this
boss &mdash; he's nimble, and keeps changing his form. Just when you think he's
done, he pulls out another summon, stranger than the last. There are some weird
moments where you accidentally heal him or can't use any electricitiy. After
you learn his patterns, though, it's not so bad. This is a test, after all, and
he's not actually trying to destroy you personally, right? In any case it's a
good thing there are these summoned creatures to duke it out and keep you out
of the fray.</p>
