{{#eq state.chapter "intro"}}
<h2>Introduction</h2>
<p>You are a mid-tier wizard at {main company}. The company is huge, responsible
for most of the types of magic in the world. Their work is exported all around
the world and their name is a byword for quality.</p>

<p>People used to think of wizards as wearing these silly, antiquated robes and
pointy hats. The robes invariably had little lightning bolts. It was almost as
if wizards worked in their pajamas and had eccentric taste in hats. This is far
from the reality. Magic is a consulting-based business with face-to-face client
interaction - most wizards wear business suits and are sharply dressed with
ties. The pointy hats aren't nearly so pointy and are actually a sophisticated
magic-enhancing funnel, technology created in just the last few decades.</p>

<p>ANYWAY, you're at the point where you've done a reasonable job in your
current position, rising through the ranks just in time not to be fired. You're
ready to go to the next stage, but you haven't gotten the usual email about the
magical test battle and written exam. So you check in with your manager.</p>

<p>Also, there's a large sign on the wall with the following:</p>

<div class="controls">
  <h2>Controls</h2>

  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Effect</th>
      </tr>
    </thead>
    <tr>
      <td class="key">
        <kbd>W</kbd>
        <kbd>A</kbd>
        <kbd>S</kbd>
        <kbd>D</kbd>
      </td>
      <td>Movement</td>
    </tr>
    <tr>
      <td class="key"><kbd>space</kbd></td>
      <td>Select and interact with nearby object</td>
    </tr>
    <tr>
      <td class="key"><kbd>shift</kbd>+<kbd>space</kbd></td>
      <td>De-select</td>
    </tr>
    <tr>
      <td class="key"><kbd>j</kbd> <kbd>k</kbd></td>
      <td>Scroll information up/down</td>
    </tr>
  </table>
</div>

<p>Note sure what that means, but it's been there the whole time.</p>

{{else eq state.chapter "chapter1"}}

And now the quest begins.

{{/eq}}
