.ascii {
    font-size: 12pt;
    line-height: 12pt;
    font-family: Consolas, Monaco, monospace;
    background: #002b36;
    color: #839496;
    cursor: default;
}
.empty {
    background: #839496;
}
.player {
    color: #2aa198;
}
.selected {
    background: #fdf6e3;
}
.error {
    color: #dc322f;
}
