h2 {
    margin-top: 0;
}

.checklist {
  padding-left: 1em;
}

.checklist li {
  margin: 0;
  list-style: none;
}

.checklist input {
  margin-right: 0.5em;
}

.note-seen {
  color: #5f8700;
}

.water {
  background-color: #268bd2;
  color: #194d71;
}

.cooler {
  background-color: #657b83;
  color: black;
}

.exp-gain {
  color: #43A047;
}

kbd {
  background-color: #f4f7f8;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  display: inline-block;
  font-family: inherit;
  font-size: .85em;
  font-weight: 700;
  line-height: inherit;
  padding: 2px 4px;
  white-space: nowrap;
}

.controls .key {
    font-family: Consolas, monospace;
}

.controls th {
    text-align: left;
}

.talked-to {
  color: #5f8700;
}

.boss1,.boss2,.boss3 {
  color: #dc322f;
  font-weight: bold;
}

.boss1.defeated, .boss2.defeated, .boss3.defeated {
  color: inherit;
}

/* pretty much taken from Forbes */
.ticker {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.4em;
  vertical-align: baseline;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0 3px;
  box-sizing: border-box;
}

.ticker.negative {
  border-color: #f6dbd9;
  background-color: #faeceb;
}

.ticker.positive {
  border-color: #d6e8d6;
  background-color: #eaf3ea;
}

.purchased {
  color: #5f8700;
}

.wizard-sign {
  width: 8em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background: #3f51b5;
  color: white;
}
