body {
    background-color: #fafafa;
    margin-left: 5em;
    font-family: "PT Sans", "DejaVu Sans", Arial, sans;
}
#header {
    height: 4em;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#container {
    display: flex;
}
#ascii-grid {
    float: left;
}
#info-panel {
    margin-left: 2em;
    width: 40em;
    height: 26em;
    overflow-y: auto;
}
#news-panel {
    width: 40em;
}
